# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# Data files (do NOT upload full datasets)
*.csv
*.xlsx
*.xls

# Except small samples
!model_ready_sample.csv
!pd_model_sample.csv

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
